.container {
    padding: 16px;
    padding-left: 2%;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=variable], textarea {
    width: 50%;
    padding: 0.5%;
    margin: 0.3% 0% 3% 0%;
    display: block;
    border: solid 1px rgba(255, 255, 255, 0);
    background-color: #ffffff00;
    outline: none;
    color: white;
    border-radius: 10px;
    resize: vertical;
  }
  
  input[type=text]:focus, input[type=variable]:focus, select:focus, textarea:focus {
    background-color: #dddddd00;
    background-color: #ffffff2f;
    border-radius: 10px;
    outline: none;
    color: white;
    resize: vertical;
  }
  
  /* Set a style for the submit button */
  .register {
    background-color: #39a37c;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    width: 50%;
  }

  .register:hover {
    background-color: #257356;
  }

  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }

  p {
    margin-bottom: 1%;
  }

  .description {
    margin-top: 6%;
  }
  
  select {
    width: 50%;
    padding: 0.5%;
    margin: 0.3% 0% 3% 0%;
    display: block;
    border: solid 1px rgba(255, 255, 255, 0);
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 18px;
    resize: vertical;
  }

  input[type=file] {
    width: 50%;
    padding: 0.5%;
    margin: 0.3% 0% 3% 0%;
    display: block;
    border: solid 1px rgba(255, 255, 255, 0);
    background-color: #ffffff00;
    outline: none;
    color: white;
    border-radius: 10px;
    resize: vertical;
  }
  
